.btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border-radius: 50%;
    border: 1px solid #fff;
}